TZ=

UPTIME_KUMA_PORT=
UPTIME_KUMA_DATA=

VAULTWARDEN_DATA=
VAULTWARDEN_PORT=

ICLOUD_PHOTO_DATA=
ICLOUD_PHOTO_PORT=
ICLOUD_USERNAME=

RESTIC_PASSWORD=
RESTIC_SOURCE=
RESTIC_REPOSITORY=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
DISCORD_WEBHOOK=

NETDATA_DATA=

PORTAINER_PORT=

JENKINS_PORT=

IT_TOOLS_PORT=

MAKEMKV_DEVICE_SR=
MAKEMKV_DEVICE_SG=
MAKEMKV_OUTPUT=
MAKEMKV_PORT=
