services:

  mkvtoolnix:
    image: jlesage/mkvtoolnix:v25.11.1
    container_name: homelab-mkvtoolnix
    restart: unless-stopped
    volumes:
      - ${FAST_TEMP_STORAGE}/mkvtoolnix:/config
      - ${MASS_TEMP_STORAGE}/mkvtoolnix:/storage
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.mkvtoolnix.rule=Host(`mkvtoolnix.${DOMAIN_NAME}`)"
      - "traefik.http.routers.mkvtoolnix.entrypoints=websecure"
      - "traefik.http.services.mkvtoolnix.loadbalancer.server.port=5800"